---
layout: default
---
  <div class="col-md-9">

        <h1>MA 210: Logic, Types and Spaces </h1>
      <div id="desc" class="section">
        <h3> Course Syllabus </h3>
          <p>
            This course is an introduction to logic and foundations from both a modern point of view (based on type theory and its relations to topology) as well as in the traditional formulation based on first-order logic.
          </p>
          <h4>Topics:</h4>
        <ul>

          <li>Basic type theory: terms and types, function types, dependent types, inductive types.</li>
          <li>First order logic: First order languages, deduction and truth, Models, Godel’s completeness and compactness theorems.</li>
          <li>Church-Turing unsolvability theorems, Godel’s incompleteness theorem.</li>
          <li>Homotopy Type Theory: propositions as types, the identity type family, topological view of the identity type, foundations of homotopy type theory.</li>
        </ul>
        <p>Most of the material will be developed using the dependently typed language <a href="https://www.idris-lang.org/" target="_blank">Idris</a>. Connections with programming in functional languages and the use of <em>dependent type theory</em> to integrate computations and proofs will be explored.
</p>

      </div>




      <div class="section" id ="Assignments">
        <h3> <a href="assign-all.html">Assignments and Projects</a> </h3>
        <p>At least 50% of the grade will be based on assignments and projects, which will be in <emph>idris</emph>. More details will be posted as the course gets underway.</p>
        {% assign sorted = site.assignments | sort: 'date' | reverse %}

        <ul>

          {% for ass in sorted  %}
          <li>
            <a href="{{ site.baseurl }}{{ ass.url }}.html"> {{ ass.title }}</a>, due by {{ ass.date | date: "%a, %d %b %Y" }}.
          </li>
          {% endfor %}
        </ul>
      </div>



      <div id="refs" class="section">
        <h3>Suggested books</h3>
        <ol>
          <li> Edwin Brady, <em>Type-Driven Development with Idris</em>, Manning Publications. </li>
          <li> <em>Homotopy Type Theory: Univalent Foundations of Mathematics</em>, Institute for Advanced Studies, Princeton 2013; available at <a href="http://homotopytypetheory.org/book/" target="_blank"> http://homotopytypetheory.org/book/</a>.</li>
          <li> Manin, Yu. I., <em>A Course in Mathematical Logic for Mathematicians</em>, Second Edition ,Graduate Texts in Mathematics, Springer-Verlag, 2010. </li>
          <li> Srivastava, S. M., <em>A Course on Mathematical Logic</em>, Universitext, Springer-Verlag, 2008. </li>
          <li> Abelson, Sussman and Sussman, <em>Structure and Interpretation of Computer Programs</em>, MIT Press, available at <a href="https://mitpress.mit.edu/sites/default/files/sicp/index.html" target="_blank">https://mitpress.mit.edu/sites/default/files/sicp/index.html</a>.</li>
        </ol>
      </div>

      <div id ="details" class="section">
        <h3> Course Details</h3>
        <ul>
          <li><strong>Instructor:</strong> <a href="http://math.iisc.ac.in/~gadgil" target="_blank"> Siddhartha Gadgil</a></li>
          <li><strong>E-mail:</strong> <a href="mailto:siddhartha.gadgil@gmail.com" target="_blank"> siddhartha.gadgil@gmail.com</a>.</li>
          <li> <strong>Office:</strong> N-15, Department of Mathematics. </li>
          <li><strong>Timing: </strong>
            Tuesday, Thursday 8:30 - 10:00 am.
          </li>
          <li><strong>Lecture Venue: </strong> LH-5, Department of Mathematics, IISc</li>

        </ul>

      </div>



    </div>

    <div class="col-md-3 section" id ="Alerts">
      <h4> <a href="assign-all.html">Upcoming Assignments</a> </h4>
      {% assign sorted = site.assignments | sort: 'date' | reverse %}
      <ul>

        {% for ass in sorted  %}
        <li>
          <a href="{{ site.baseurl }}{{ ass.url }}.html"> {{ ass.title }}</a>, due by {{ ass.date | date: "%a, %d %b %Y" }}.
        </li>
        {% endfor %}
      </ul>
      <h4>  <a href="announce-all.html">Announcements</a> </h4>
      {% assign sorted = site.announcements | sort: 'date' | reverse %}
      <ul>
      {% for ass in sorted  %}
      <li>
        <a href="{{ site.baseurl }}{{ ass.url }}.html"> {{ ass.title }}</a>
        <div> {{ ass.content | truncatewords: 30 }}</div>
      </li>
      {% endfor %}
    </ul>
    </div>
