</div>
<div class="container-fluid">
  <br><br><br>
  <div class="footer navbar-fixed-bottom bg-primary">
    <h4>
    &nbsp;<a href="http://math.iisc.ac.in" target="_blank">&nbsp; Department of Mathematics,</a>

    &nbsp;<a href="http://iisc.ac.in" target="_blank">Indian Institute of Science.</a>
  </h4>

  </div>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src='{{ site.baseurl }}/js/bootstrap.min.js'></script>

</body>
</html>
