<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MA 210: Logic, Types and Spaces</title>
    <link rel="icon" href="{{ site.baseurl }}/IIScLogo.jpg">

    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/extras.css" rel="stylesheet">

      <link rel="stylesheet" href="{{ site.baseurl }}/css/zenburn.css" rel="stylesheet">
        <script src="{{ site.baseurl }}/js/highlight.js" rel="stylesheet"></script>
        <script>hljs.initHighlightingOnLoad();</script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
      </script>
    <!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
jax: ["input/TeX", "output/HTML-CSS"],
tex2jax: {
  inlineMath: [ ['$', '$'] ],
  displayMath: [ ['$$', '$$']],
  processEscapes: true,
  skipTags: ['script', 'noscript', 'style', 'textarea']
},
messageStyle: "none",
"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Instructor: <a href="http://math.iisc.ac.in/~gadgil" target="_blank">Siddhartha Gadgil</a></span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}/index.html#">Home</a></li>
            <!-- <li><a href="{{ site.baseurl }}/index.html#refs">References</a></li>
            <li><a href="{{ site.baseurl }}/index.html#details">Details</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Assignments<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- <li class="dropdown-header">Assignments</li> -->
                <li class="dropdown-header"><strong>Assignments</strong></li>
                {% assign sorted = (site.assignments | sort: 'date') | reverse %}
                {% for ass in sorted  %}
                <li>
                  <a href="{{ site.baseurl }}{{ ass.url }}.html"> {{ ass.title }}</a>
                </li>
                {% endfor %}
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Announcements<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header"><strong>Announcements</strong></li>
                {% assign sorted = (site.announcements | sort: 'date') | reverse %}
                {% for ass in sorted  %}
                <li>
                  <a href="{{ site.baseurl }}{{ ass.url }}.html"> {{ ass.title }}</a>
                </li>
                {% endfor %}
                <!-- <li><a href="#">Something else here</a></li> -->

          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Reports<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li class="dropdown-header"><strong>Reports</strong></li>
              {% for rep in site.reports  %}
              <li>
                <a href="{{ site.baseurl }}{{ rep.url }}.html"> {{ rep.author }}</a>
              </li>
              {% endfor %}
              <!-- <li><a href="#">Something else here</a></li> -->

        </ul>
      </li>
        <!-- <li><a href="{{ site.baseurl }}/notes-all.html">Notes</a></li> -->
      </ul>
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="https://www.idris-lang.org/" target="_blank">Idris-lang</a> </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Links <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- <li class="dropdown-header">Assignments</li> -->
                <!-- <li class="dropdown-header"><strong>Links</strong></li> -->

                <li>
                  <a href="https://www.ias.edu/ideas/2014/voevodsky-origins" target="_blank"> Voevodsky: The Origins and Motivations of Univalent Foundations</a>
                  <a href="https://mail.haskell.org/pipermail/haskell-cafe/2003-May/004343.html" target="_blank">Conor McBride on no total self-interpreters (following Turing)</a>
                </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Notes <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- <li class="dropdown-header">Assignments</li> -->
              <!-- <li class="dropdown-header"><strong>Notes</strong></li> -->
              {% assign sorted = (site.notes | sort: 'date')  %}
              {% for ass in sorted  %}
              <li>
                <a href="{{ site.baseurl }}{{ ass.url }}.html"> {{ ass.title }}</a>
              </li>
              {% endfor %}
          </ul>
          </li>

          <li> <a href="https://github.com/siddhartha-gadgil/LTS2019" target="_blank">
          <img src="{{ site.baseurl }}/GitHub-Mark-Light-32px.png" alt="Github"></img> </a> </li>
          <li> <a href="https://gitter.im/siddhartha-gadgil/LTS2019" target="_blank"> <img src="https://badges.gitter.im/siddhartha-gadgil/LTS2019.svg" alt="gitter"></a>  </img></li>
            <!-- <li><a href="{{ site.baseurl }}/notes-all.html">Notes</a></li> -->

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
